<div class="settings-content">
  <div class="settings-header clearfix">
    <small>{{#linkTo 'organizations.index' classNames="pull-right"}}&laquo; Back to Organizations{{/linkTo}}</small>
    <h4>{{name}}</h4>
  </div>

  <div class="well well-small clearfix">
    <button {{action "regenerateToken"}} class="btn btn-small pull-right"><i class="icon-plus"></i> Regenerate API Token</button>
    {{#if access_token}}
      <code>{{access_token}}</code>
    {{else}}
      Click 'Regenereate API Token' to create a token
    {{/if}}
  </div>

  <form {{action "addMember" organization on="submit"}}>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Admin?</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">{{input type="text" value=newEmail placeholder="Add by email address" classNames="wide"}}</td>
          <td>{{view App.ToggleSwitchView checkedBinding="newIsAdmin"}}</td>
          <td><button type="submit" class="btn btn-small pull-right"><i class="icon-plus"></i> Add</button></td>
        </tr>
        {{#each membership in memberships}}
          <tr>
            <td>{{membership.user.name}}</td>
            <td>{{membership.user.email}}</td>
            <td>{{tf membership.is_admin}}</td>
            <td>
              <button class="btn btn-small pull-right" {{action 'removeMembership' membership}}><i class="icon-remove"></i></button>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>

  
    
  </form>
</div>