{{#with view.content}}
  <a class="pull-left" href="#">
    <img {{bindAttr src=user.avatar_url}} style="width: 45px; height: 45px;">
    {{star-rating stars=rating}}
  </a>
  <div class="media-body">
    <div class="small"><span>{{user.name}}</span> on <span>{{reviewed_on}}</span></div>
    {{newLineToBr comments}}
  </div>
{{/with}}