<div class="row-fluid">
  <div class="span9">
    <section class="app-details">
      <div class="row-fluid">
        <div class="span5">
          <img {{bindAttr src=banner_image_url}} height="125" />
        </div>
        <div class="span7">
          <h2>{{name}}</h2>
          {{star-wrapper stars=average_rating}}
          <div class="author">by {{#linkTo 'apps'}}{{author_name}}{{/linkTo}}</div>
          <ul class="tags">
            {{#each tag in tags}}
              <li {{bindAttr class="tag.context"}}>{{tag.name}}</li>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="description">
        {{description}}
      </div>
      <div class="configuration-content">
        <label>Configuration URL:</label>
        {{#if hasPreview}}
          <button {{action "preview" this}} class="pull-right btn btn-primary">Preview</button>
        {{/if}}
        {{edu-clipboard text=config_url spanx=7 message="Copied Config URL to clipboard"}}
      </div>
    </section>
    <section class="app-reviews">
      <div class="well well-small">
        {{view App.AppsReviewsView contentBinding=reviews}}
      </div>
    </section>
  </div>
  <div class="span3">
    <div class="well">
      side
    </div>
  </div>
</div>

